.overlay-popup {
  display: none;

  .background-overlay {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(55, 55, 55, 0.42);
  }

  form {
    position: fixed;
    top: 78px;
    left: 50%;
    transform: translateX(-50%);
    width: 320px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;

    h1 {
      text-align: center;
      margin-top: 15px;
      margin-bottom: 20px;
    }

    input {
      display: block;
      width: calc(80% - 10px);
      padding-left: 10px;
      height: 30px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 20px;
    }

    button {
      display: block;
      width: 100px;
      height: 40px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 20px;
      background-color: white;
      border: solid 2px black;

      &:hover {
        cursor: pointer;
        background-color: black;
        color: white;

        transition: all .5s ease-in-out;
      }
    }
  }
}