footer {
  margin-top: 20px;
  text-align: center;
  
  i {
    font-style: italic;
  }
  
  a {
    display: block;
    margin-top: 5px;
    text-transform: uppercase;
    text-decoration: none;
    color: black;

    &:hover {
      font-weight: bold;
      transition: font-weight .5s ease-in-out;
    }
  }
}